#curriculum,
#curriculum table,
#curriculum th,
#curriculum td {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
  font-family: 'Sarabun', Helvetica, sans-serif;
}

#curriculum th {
  text-align: center;
}

#curriculum th,
#curriculum td {
  vertical-align: top;
  padding: 8px;
}

#curriculum table {
  margin: 24px;
}

#curriculum .text-center {
  text-align: center;
}

#curriculum .border-top-none {
  border-top: 1px solid transparent !important;
}

#curriculum .border-bottom-none {
  border-bottom: 1px solid transparent !important;
}

#curriculum .border-left-none {
  border-left: 1px solid transparent !important;
}

#curriculum .border-right-none {
  border-right: 1px solid transparent !important;
}

#curriculum .border-none {
  border: 1px solid transparent !important;
}

#curriculum .height-60 {
  height: 60px;
}

#curriculum .title {
  height: 60px;
  font-size: 22px;
  padding-top: 12px;
}

.download-table-xls-button {
  display: none;
}
